.build/
.release-private/
.ssh/
**/[Tt][Oo][Oo][Ll][Ss]/
**/bin/
**/obj/
**/.updates/
**/deployment-options.json
**/installed-version.txt
**/publisher-private.pem
**/*.pfx
**/*.p12
**/*.key
**/*.ppk
**/UnityFiles-*/
**/update-settings.json
*.zip
服务端部署/packages/
